
<section class=screen>
<div class=screen_left>
    <div class=screen_left_top> <div class=screen_left_top_title>{{ post.title }}</div> </div>
    <div class=screen_left_bottom> <div class=screen_left_bottom_content>{{ post.content }}</div> </div>
</div>

<div class=screen_right>
    <div class=screen_right_top></div>
    <div class=screen_right_bottom>
        <div>
            <form style=";padding:3px;text-align:center;" action="https://tinyletter.com/wastenotalent" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/wastenotalent', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <input class=screen_right_bottom_button type="submit" value="{{ post.button }}" />
            </form>
        </div>
    </div>
</section>





<style>
    /* development
    .screen_left{background: rgba(0,0,0,.5);} .screen_right{background: rgba(255,255,255,.5);} .screen_left_top{background: rgba(255,0,0,.5);} .screen_left_bottom{background: rgba(0,255,0,.5);} .screen_right_top{background: rgba(255,0,0,.5);} .screen_right_bottom{background: rgba(0,255,0,.5);}
*/

    .screen{ background-size:cover; background-repeat:no-repeat; position:relative; background-image:url('/img/posts/{{ post.feature_image }}') }

    .screen_left, .screen_right{ width:50%; height:100%; position:relative; }
    .screen_left{ float:left; }
    .screen_left_top{ width:100%; height:40%; position:absolute; top:-50%; left:0; display:hidden; }
    .screen_left_top_title{  position:absolute; bottom:0; font-size:80px; color:white; padding:0 40px; margin-left:-3px; margin-bottom:-31px; }
    .screen_left_bottom{width:100%; height:60%; position:absolute; top:40%; left:-100%; display:hidden; }
    .screen_left_bottom_content{ position:absolute; top:0; font-size:21px; color:white; padding: 0 40px; }

    .screen_right{ float:right; }
    .screen_right_top{ width:100%; height:50%; position:absolute; top:-50%; right:0; display:hidden; }
    .screen_right_bottom{ width:100%; height:50%; position:absolute; top:50%; right:0; display:hidden; }
    .screen_right_bottom_button{border:1px solid transparent; color: black; background:gold; font-size:60px; line-height:100px; position:absolute; bottom:0; right:0%; text-transform: uppercase;cursor:pointer; text-align:center; width:70%;}
    textarea:focus, input:focus{outline: none;}

    @media (max-width: 600px) {
        html, body{
            overflow: auto;
        }
        .screen{ background-size: cover; }
        .screen_left{width: 100%; }
        .screen_left_top{ width:100%; height:50%; background: rgba(255,255,255,.5);}
        .screen_left_top_title{font-size: 36px; color: rgba(0,0,0,0.6); padding: 0; margin-left: 0; margin-bottom: 0; top: 45%; text-align: center; width: 100%; font-weight: bolder; text-transform: uppercase;}
        .screen_left_bottom{width:100%; height:100%; position: absolute; top: 50%; background: white;}
        .screen_left_bottom_content{font-size:16px; padding: 0 15px; color: #333;}
        .screen_right_bottom{top: -102%; left: -5%; height: 52%; width: 105%;}
        .screen_right_bottom_button{font-size:20px; line-height:50px; position:absolute; bottom:0; right:0%; text-transform: uppercase;cursor:pointer; text-align:center; width:70%;}
    }
</style>

<script>
if (window.innerWidth < 600){
var header_fill = 35;
} else {
    header_fill = 90;
}
var w = window.innerWidth;
var h = window.innerHeight - header_fill;


var els = document.getElementsByClassName("screen");

window.onload = function() {
    Array.prototype.forEach.call(els, function(el) {
        el.style.height = h;
        el.style.width = w;
    });
};

window.onresize = function(event) {
    var header_fill = 90;
    var w = window.innerWidth;
    var h = window.innerHeight - header_fill ;

    var els = document.getElementsByClassName("screen");

    Array.prototype.forEach.call(els, function(el) {
        el.style.height = h;
        el.style.width = w;
    });
};

$(document).ready(function(){
    $(".screen").hide().fadeIn(1000);

    $(".screen_left_top").fadeIn(500).animate({top: '0'});
    $(".screen_left_bottom").fadeIn(600).animate({left: '0%'});

    $(".screen_right_top").fadeIn(700).animate({top: '0%'});
})
</script>
